name: Release Binary and .deb

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl

      - name: Install cargo-deb
        run: cargo install cargo-deb

      - name: Build binary (MUSL)
        run: cargo build --release --target x86_64-unknown-linux-musl

      - name: Build .deb package (MUSL)
        run: cargo deb --target x86_64-unknown-linux-musl

      - name: Upload binary and .deb to GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/x86_64-unknown-linux-musl/release/custom-ospf # Update path for musl target
            target/x86_64-unknown-linux-musl/debian/*.deb # Update path for musl target
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
